body {
    margin:0;
}


.main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contact { 
    grid-area: 1 / 1 / 2 / 2; 
    display:block;
    background: red;
    border-right:1px solid #ccc!important;
    border-right-style: solid;
}
.message { 
    grid-area: 1 / 2 / 2 / 3; 
    display: block;
    background: blue;
    border-left:1px solid #ccc!important;
    border-left-style: solid;
}
.search {
    border:1px solid #ccc!important;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding-inline-start: 4px;
    height: 44px;
}
.search_form {
    border: none;
    border-radius: calc(0.5 * 44px);
    font-size: 16px;
    outline: none;
    position: relative;
    width: 20%;
}
/* https://splendorous-hamster-ecd34b.netlify.app/ */