body {
    margin:0;
}


.main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.contact { 
    grid-area: 1 / 1 / 2 / 2; 
    display:block;
    background: red;
    border-right:1px #bbbbbb;
    border-right-style: solid;
}
.message { 
    grid-area: 1 / 2 / 2 / 3; 
    display: block;
    background: blue;
    border-left:1px #bbbbbb;
    border-left-style: solid;
}