*,
*:before,
*:after {
    box-sizing: border-box;
}

.light {
    --color: #0060df;
    --background: #fbfbfe;
    --text-color: #000000;
}

.dark {
    --color: #17ed90;
    --background: #2a2c2d;
    --text-color: #ffffff;
}

:root {
    --white: #fff;
    --black: #000;
    --bg: #f8f8f8;
    --grey: #999;
    --gray: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1000px;
    --blue: #00b0ff;
}

.user_pic button {
    padding: 0px;
}

.user_pic {
    border: 100% 100%;
}

.user_pic button img {
    height: 50px;
    z-index: 1;
    width: 50px;
    border: none;
    border-radius: 100%;
}

.user_pic button {
    position: fixed;
    z-index: 36;
    right: 4px;
    top: 4px;
    border: none;
    background: white;
    border-radius: 100%;
}

.user .img .image {
    opacity: 1;
    display: block;
    height: auto;
    backface-visibility: hidden;
}

.user .img .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.user .img:hover .image {
    opacity: 0.3;
}

.user .img:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.inactive {
    display: none;
    visibility: hidden;
}


@media only screen and (min-width: 550px) and (max-width: 1100px) {
    .user {
        background: white;
        border-radius: 30px;
        height: 90%;
        width: 50%;
        position: fixed;
        z-index: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 550px) {
    .user .img img {
        height: calc(40vh + 30vw) !important;
        width: calc(40vh + 30vw) !important;
    }

    .user {
        background: white;
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 1100px) {
    .user {
        background: white;
        border-radius: 30px;
        height: calc(550px + 10%);
        width: calc(450px + 10%);
        position: fixed;
        z-index: 15;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.user .name {
    padding-left: 10px;
    color: black;
    text-align: left;
    width: 90%;
}

.user .button {
    border-radius: 30px;
    margin-left: 5%;
    cursor: default;
    margin-right: 5%;
    text-align: center;
    width: 90%;
    background: #e6e6e6;
}

.user .button:hover {
    background: #5dacda;
}

.user .logout {
    position: absolute;
    bottom: -1%;
}

.user .reset {
    position: absolute;
    bottom: 10%;
    cursor: default;
}

.user .img img {
    background: #e6e6e6;
    position: absolute;
    padding: 1%;
    border-radius: 100%;
    height: calc(25vh + 15vw);
    width: calc(25vh + 15vw);
    z-index: 11;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user .flex {
    display: flex;
}

.user .flex .cross {
    position: absolute;
    top: 3%;
    right: 3%;
}

.bubble-name {
    font-weight: bolder;
    text-align: left;
    font-size: 15px;
}

.mobile {
    display: none;
    height: 0px;
    width: 0px;
}

body {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0;
}

.emoji-drawer .emoji-drawer-class {
    display: none;
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.emoji-list {
    width: 400px;
}

.emoji-box {
    height: 258px;
    width: 321px;
    position: fixed;
    background: white;
    border-radius: 30px;
    bottom: 70px;
    right: 24px;
    z-index: 5;
}

.emoji-drawer .emoji-drawer-class-active {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: auto;
    max-width: 400px;
    margin-bottom: 32px;
    height: 230px;
    overflow: scroll;
}

.emoji-active-toggle {
    border: none;
    border-radius: 5px;
    background: #bcb8b836;
}

.emoji-normal-toggle {
    border: none;
    background: none;
}

.emoji-class-img {
    width: 20px;
    height: auto;
}

.emoji-class {
    position: absolute;
    bottom: 0;
    border-top: 1px solid;
    width: 322px;
    text-align: center;
}

.emoji-drawer {
    position: absolute;
    top: 0;
    height: 231px;
}

.hidden {
    opacity: 0;
}

.emoji-hidden {
    opacity: 0;
    display: none;
    z-index: 0;
}

.emoji {
    text-align: center;
    font-size: 24px;
    padding: 8px;
}

.emoji:hover {
    cursor: pointer;
}

.emoji-input {
    position: fixed;
    bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
    border-radius: 20px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 2px 16px;
    background-color: var(--blue);
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--blue);
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal_input {
    width: 300px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.modal_input:focus {
    width: 300px;
    height: 30px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    outline: none;
}

.type-img {
    height: 50%;
    width: 100%;
}

.add {
    text-align: center;
    justify-items: center;
    display: inline-block;
    cursor: pointer;
    width: 199px;
    height: 28px;
    padding: 3px 15px;
    margin-left: 10px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    border-radius: 50px;
    color: white;
}

.loader_box {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1;
    background: rgb(136 136 136);
}

.loader {
    z-index: 100;
    margin: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .left {
    position: fixed;
    left: 0;
    width: 38%;
    height: 100%;
    border: 1px solid var(--light);
    background-color: var(--white);
    overflow: hidden;
}

.container .left .top {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 29px;
}

.container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
}

.container .left input {
    float: left;
    width: 80%;
    height: 42px;
    padding: 0 15px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.container .left input:focus {
    outline: none;
}

.container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 5px;
    border: 1px solid var(--light);
    background-color: var(--blue);
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.container .left a.search img {
    background: none;
    margin: 2px;
    height: 35px;
    width: 35px;
}

.people {
    margin-left: -1px;
    overflow-y: scroll;
    height: 82vh;
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
    width: calc(100% + 2px);
    list-style: none;
}

.people-person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
}

.people-person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 90%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
}

.people-setting {
    font-size: 14px;
    position: absolute;
    top: 14px;
    color: black;
    right: 5%;
    margin: 0px;
}

.people-img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.people-name {
    font-size: 14px;
    margin: 0;
    width: 80%;
    height: 16px;
    overflow: hidden !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-overflow: ellipsis;
}

.people-time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
}

.people-preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 47%;
    height: 23px;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.people-person.active,
.people-person:hover {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
}

.people-person:has(.people-setting *:hover) {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
}

.people-person .people-setting *:hover,
.people-person .people-setting * {
    color: black !important;
}

.people-setting *:hover {
    color: black;
}

.people-person.active span,
.people-person:hover span {
    color: var(--white);
    background: transparent;
}

.people-person.active:after,
.people-person:hover:after {
    display: none;
}

.container .right {
    position: absolute;
    width: 62%;
    height: 96%;
    right: 0px;
    z-index: -1;
}

.container .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
    display: inline-flex;
}

.container .right .top p {
    font-size: 15px;
    margin: 0;
    color: var(--grey);
}

.container .right .top p .name {
    color: var(--dark);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    width: 48vw;
    margin: 0;
}

.container .right .top p .to {
    margin-right: 6px;
    width: 22px;
    margin: 0;
    margin-right: 6px;
    height: 16px;
    display: flex;
}

.container .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    overflow-y: scroll;
    z-index: -1;
    padding: 10px 35px 40px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--light);
    height: calc(100% - 86px);
    justify-content: flex-end;
    flex-direction: column;
}

.chat {
    scrollbar-width: none;
    scrollbar-color: #000000 #ffffff;
}


.container .right .chat.active-chat .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}

.write {
    position: absolute;
    bottom: 20px;
    right: 18px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--light);
    background-color: #eceff1;
    width: calc(64% - 58px);
    border-radius: 5px;
}

.write input {
    font-size: 16px;
    width: 51.5vw;
    height: 40px;
    padding: 0 6px;
    color: var(--dark);
    border: 0;
    outline: none;
    margin-left: 13px;
    background-color: #eceff1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.write .write-link.attach:before {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 42px;
    bottom: 0px;
    content: '';
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');
    background-repeat: no-repeat;
    background-position: center;
}

.write .write-link.smiley:before {
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 0px;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png');
    background-repeat: no-repeat;
    background-position: center;
}

.write .write-link.send:before {
    display: inline-block;
    position: absolute;
    right: 11px;
    width: 20px;
    height: 42px;
    bottom: 0px;
    margin-left: 11px;
    content: '';
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png');
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 12px 13px;
    vertical-align: top;
    border-radius: 5px;
}

.container .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.container .right .bubble.you {
    float: left;
    color: var(--white);
    overflow: hidden;
    max-width: 60%;
    background-color: var(--blue);
    align-self: flex-start;
    word-break: break-word;
}

.container .right .bubble.you:before {
    left: -3px;
    background-color: var(--blue);
}

.container .right .bubble.me {
    float: right;
    color: var(--dark);
    max-width: 60%;
    overflow: hidden;
    background-color: #eceff1;
    align-self: flex-end;
    word-break: break-word;
}

.container .right .bubble.me:before {
    right: -3px;
    background-color: #eceff1;
}

.container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

.container .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
}

.container .right .conversation-start span:before,
.container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: var(--light);
}

.container .right .conversation-start span:before {
    left: 0;
}

.container .right .conversation-start span:after {
    right: 0;
}

#connected {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#not-connected {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#wait-connected {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: white;
}

.not-connected-iframe {
    position: fixed;
    height: 100%;
    width: 100%;
    border: none;
}

#log-out {
    color: white;
    background: rgb(31, 64, 255);
    border-radius: 8px;
    text-align: center;
    width: 87px;
    height: 18px;
    cursor: pointer;
}

#to {
    text-overflow: ellipsis;
}

.mobile-active {
    display: none;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: default;
}

.image-zoom {
    position: fixed;
    z-index: 6;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    height: 48px;
    padding: 0;
}

.dropdown {
    z-index: 7;
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    top: 48px;
    background-color: #fff;
    min-width: 70px;
    padding: 15px;
    min-width: 120px;
    text-align: right;
    cursor: default;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

.dropbtn img {
    height: 50px;
    border-radius: 50%;
    background: none;
    object-fit: cover;
}

.list {
    display: flex;
    width: 25vw;
}

.list:hover {
    cursor: default;
}

.list p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.check {
    background: var(--blue);
}

@media screen and (max-width: 970px) {
    .mobile {
        position: fixed;
        top: 4px;
        left: 2px;
        width: 38px;
        height: auto;
        display: none;
        z-index: 5;
    }

    .mobile-active {
        display: block;
    }

    .container .left {
        position: fixed;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border: 1px solid var(--light);
        background-color: var(--white);
        overflow: hidden;
    }

    .container .left-active {
        z-index: 5;
    }

    .container .top-active {
        z-index: 1;
        display: inline-flex;
    }

    .container .left input {
        width: calc(100% - 52px);
    }

    .container .left .top {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .container .right .chat.active-chat {
        display: block;
        z-index: 4;
        background: white;
    }

    .container .right .chat {
        position: relative;
        z-index: 2;
        display: none;
        overflow: hidden;
        overflow-y: scroll;
        padding: 10px 35px 40px;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: var(--light);
        height: calc(100% - 86px);
        justify-content: flex-end;
        flex-direction: column;
    }

    .container .right {
        width: 96%;
    }

    .write {
        z-index: 0;
        position: absolute;
        bottom: 20px;
        right: 18px;
        height: 42px;
        padding-left: 8px;
        border: 1px solid var(--light);
        background-color: #eceff1;
        width: calc(100% - 58px);
        border-radius: 5px;
    }

    .write.write-active {
        z-index: 4;
        position: absolute;
        bottom: 20px;
        right: 18px;
        height: 42px;
        padding-left: 8px;
        border: 1px solid var(--light);
        background-color: #eceff1;
        width: calc(100% - 58px);
        border-radius: 5px;
    }

    .container .right .top.top-active {
        width: 100%;
        z-index: 4;
        position: relative;
        background: black;
        height: 47px;
        padding: 15px 29px;
        background-color: #eceff1;
        display: inline-flex;
    }

    .container .right .top {
        width: 100%;
        z-index: 2;
        position: relative;
        background: black;
        height: 47px;
        padding: 15px 29px;
        background-color: #eceff1;
        display: none;
    }

    .mobile-frame {
        position: fixed;
        z-index: 4;
        height: 100%;
        width: 100%;
        background: white;
    }

    .mobile-frame-active {
        z-index: 4;
    }

    .people-active {
        z-index: 4;
    }

    .chat::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2) !important;
        border-radius: 0px;
        border: none;
    }

}

.tooltip {
    overflow: visible !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 400%;
    min-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 23;
    left: 36%;
    top: -4.5vh;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.chat::-webkit-scrollbar {
    width: 9px;
}

.scrolling_chat::-webkit-scrollbar {
    width: 9px;
}

.chat::-webkit-scrollbar-track {
    background: #ffffff;
}

.chat::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: none;
}

.chat::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0);
    border-radius: 0px;
    border: none;
}

.container .right .chat.active-chat {
    display: block;

}

.modal-call {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-call-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    height: max-content;
    width: max-content;
}

.phone-button-call {
    background-color: #0fc202;
    background-image: url(img/phone.png);
    border-radius: 50%;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: none;
    margin-right: 40%;
    background-size: 27px;
}

.x-button-call {
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: none;
    background-image: url(img/x.png);
    background-size: 27px;
}

.answer-call {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    margin-top: 50%;
    height: 30%;
}

.content-call {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.content-call h1,
.content-call h2 {
    margin: 0px;
    width: 100%;
    height: max-content;
}

.big-image {
    position: fixed;
    z-index: 10;
    height: 70%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    text-align: center;
    color: #333;
}

.rename-file {
    outline: none;
    display: none;
    visibility: hidden;
    position: fixed;
    z-index: 100000;
}

.rename-active {
    outline: none;
    display: block !important;
    visibility: visible !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #000;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.2em;
    color: #000;
    animation-name: inputanimation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes inputanimation {
    0% {
        border-bottom: 0.2em solid #000;
    }

    50% {
        border-bottom: 0.2em solid #fff;
    }

    100% {
        border-bottom: 0.2em solid #000;
    }
}