body {
    margin: 0px;
    ;
}

#top {
    width: 100vw;
    height: 21px;
    background: white;
    position: fixed;
    top: 0px;
}
#top button {
    cursor: pointer;
}
#run {
    height: 20px;
    width: 176px;
    position: fixed;
    top: 0px;
    text-align: center;
    right: 50vw;
    justify-content: center;
    background: red;
    border-radius: 9px;
    display: flex;
    line-height: 1.5;
}

#docs {
    height: 20px;
    width: 50px;
    position: fixed;
    top: 0px;
    text-align: center;
    left: 10vw;
    justify-content: center;
    background: red;
    border-radius: 9px;
    display: flex;
    line-height: 1.5;
}

#save {
    height: 20px;
    width: 80px;
    position: fixed;
    top: 0px;
    line-height: 1.5;
    text-align: center;
    right: 80px;
    justify-content: center;
    background: red;
    border-radius: 9px;
    display: flex;
}

#code {
    margin: 0;
    position: fixed;
    top: 21px;
}

#code p {
    margin: 0;
}

#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: calc(100% - 32px);
    height: 150px;
  }
  #editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighing tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 1.5;
    tab-size: 2;
  }
  
  
  #editing, #highlighting {
    /* In the same place */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  /* Move the textarea in front of the result */
  
  #editing {
    z-index: 1;
  }
  #highlighting {
    z-index: 0;
  }
  
  
  /* Make textarea almost completely transparent */
  
  #editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favourite color */
  }
  
  /* Can be scrolled */
  #editing, #highlighting {
    overflow: auto;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
    tab-size: 2;
    width: 100vw;
    margin: 0;
    height: calc(100vh - 21px);
  }
  
  /* No resize on textarea */
  #editing {
    resize: none;
  }
  
  /* Paragraphs; First Image */
  * {
    font-family: "Fira Code", monospace;
  }
  p code {
    border-radius: 2px;
    background-color: #eee;
    color: #111;
  }